In [3]:
import pandas as pd

details = pd.DataFrame({
'ID': [101, 102, 103, 104, 105, 106,
107, 108, 109, 110],
'NAME': ['Jagroop', 'Praveen', 'Harjot',
'Pooja', 'Rahul', 'Nikita',
'Saurabh', 'Ayush', 'Dolly', "Mohit"],
'BRANCH': ['CSE', 'CSE', 'CSE', 'CSE', 'CSE',
'CSE', 'CSE', 'CSE', 'CSE', 'CSE']})

In [2]:
print(details)

    ID     NAME BRANCH
0  101  Jagroop    CSE
1  102  Praveen    CSE
2  103   Harjot    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
5  106   Nikita    CSE
6  107  Saurabh    CSE
7  108    Ayush    CSE
8  109    Dolly    CSE
9  110    Mohit    CSE

In [5]:
fees_status = pd.DataFrame(
{'ID': [101, 102, 103, 104, 105,
106, 107, 108, 109, 110],
'PENDING': ['5000', '250', 'NIL',
'9000', '15000', 'NIL',
'4500', '1800', '250', 'NIL']})

In [6]:
print(fees_status)

    ID PENDING
0  101    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL

In [7]:
# Data Wrangling Using Grouping Method 
# Using groupby() method.

In [8]:
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                            'Maruti', 'Hyundai', 'Hyundai',
                            'Toyota', 'Mahindra', 'Mahindra',
                            'Ford', 'Toyota', 'Ford'],
                    'Year': [2010, 2011, 2009, 2013,
                            2010, 2011, 2011, 2010,
                            2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                            2, 8, 7, 2, 4, 2]}


df = pd.DataFrame(car_selling_data)

# printing Dataframe
print(df)

       Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

In [ ]:
#creating dataframe to use groupby methods